/* import fonts */
@import url(./fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_globle.css);

/* start navigation */
.navbar-brand{
    padding-left: 1rem;
}

.navbar{
    padding: 0.8rem 5%;
}

.nav-link{
    font: normal 500 15px/2px var(--roboto);
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}
.active a{
    background-color: var(--gradient-color);

    -webkit-text-fill-color: transparent;
    background-color: text;

}
.nav-link:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Banner Area */
.site-banner{
    background:url(./img)no-repeat;
    background-position: 0% 50%;

}
.site-title h3{
    padding-top: 25%;
    font-weight: 500;
}
.site-title h3::after{
    content:"";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.site-title h1{
    font-size: 4rem;
}
.banner-image img{
    padding: 2rem;
    max-width: 100%;
    height: auto;
}

.banner-image{
    padding-top: 8%;
}


/* start About area*/
.about-area{
    padding: 8rem 5rem;
}
.about-title h2> span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}
.paragraph>p{
    padding: 0.4rem 0;

}
p.para{
    color: var(--text-color);
    font:normal 500  16px/25px var(--roboto);
}

/* end about area */



/* Start Brand-area */
.brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;

}
.col-lg-4{
    display: flex;
    justify-content: center;
}
.col-lg-4>.single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: 9rem 0;
    width: 180px;
    height: 180px;
    cursor: pointer;
    transition: transform .4s ease;




}
.experience-area{
    padding-left: 1rem;


}
.experience-area span{
    display: block;
}
.years-area{
    background: url()no-repeat 45;
}
.bg-panel{
    position: absolute;
    left: -190px;top:0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left:340px ;
    z-index: -1;
}
.years{
    font:normal bold 84px/40px var(--roboto);
    color:var(--primary-color2);
    z-index: 2;
}
.years-area h2> span{
    font: normal 600 22px/30px var(--roboto);
}
.call-area{
    padding-left: 10px;
}
/* end Brand-area */


/* project area */

.project-area{
    padding: 4rem 0;
}
.button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.button-group button + button{
    padding-left: 3rem ;

}
.our-project>.title h4{
    font:normal 700 25px/12px var(--roboto)
}
.fors{
    color: black;
    font: normal 700 25px/12px var(--roboto);
    
}

/* Navbar Logo Size Fix */


/* Optional: Make navbar height clean */


.navbar-brand img {
    height: 55px;
    width: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .navbar-brand img {
        height: 40px;
    }
}
